<style>
  html {
    padding: 0;
    margin: 0;
  }

  .auto-hire-hub {
    color: #555;
    font-size: 16px;
    text-decoration: none;
  }

  footer {
    padding-top: 10px;
  }
</style>

<footer>
  <p>© 2023 autoHireHub</p>
  <a href="https://www.autoHireHub.com/" class="auto-hire-hub"
    >autoHireHub.com</a
  >
</footer>
